@model pizzashop.data.ViewModels.PasswordChangeVM

@{
    ViewData["Title"] = "Change Password";
    Layout = "admin_layout";
}

<h2 class="mt-4 text-primary"><strong>Change Password</strong></h2>

<div class="container m-5">

    <form method="post" asp-action="ChangePassword" asp-controller="Admin" novalidate>
        <div class="form-group mb-3">
            <label for="oldpassword">Old Password</label>
            <input type="password" class="form-control" id="oldpassword" asp-for="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" id="newpassword" asp-for="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-outline-primary ms-2">Cancel</button>
        </div>
    </form>

</div>