@{
    ViewData["Title"] = "Customer";
    Layout = "_adminlayout";
}

<div class="container mt-5">

    <div class="d-flex row mb-2 gy-2">
        <div class="col-sm-4">
            <h3 class="text-primary"> <strong>Customer</strong> </h3>
        </div>
        <div class="d-flex justify-content-end mb-3 gap-3">
            <div class="row gx-2 gy-2">
                <div class="col-lg-5 col-md-4 col-12">
                    <input class="btn w-100 btn-outline-border-primary" type="search" placeholder="Search" name="search" id="customerSearch"
                        aria-label="Search">
                    <label for="search" id="searchlable" class="position-absolute text-primary" style="margin-left: -35px; margin-top: 5px;">
                        <i class="bi bi-search"></i>
                    </label>


                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <select class="form-select w-100 btn-outline-border-primary" id="CustomerTimeFilter" aria-label="Floating label">
                        <option selected value=1>All Time</option>
                        <option value=2>Today</option>
                        <option value=7>Last 7 days</option>
                        <option value=30>Last 30 Days</option>
                        <option value=0>Current Month</option>
                        <option value=-1>Customer Data</option>

                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <button type="button" class="btn btn-primary ExportCustomer w-100 ">
                        <div class="d-flex justify-content-center">
                            <i class="bi bi-box-arrow-in-down-right"></i>
                            Export
                        </div>
                    </button>
                </div>
            </div>

        </div>

        <div id="CustomerTable">

        </div>
    </div>

    <div class="modal fade" id="customDateModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="staticBackdropLabel">Select Date Range</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="form-floating col-6">
                            <input for="StartDate" type="Date" class="form-control" id="customstartdate"
                                placeholder="StartDate">
                            <label for="StartDate" for="floatingInput" class="ms-3">Start Date</label>
                        </div>
                        <div class="form-floating col-6">
                            <input for="EndDate" type="Date" class="form-control" id="customenddate"
                                placeholder="EndDate">
                            <label for="EndDate" for="floatingInput1" class="ms-3">End Date</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-yes" data-bs-dismiss="modal"
                        id="customtimeSubmit">Submit</button>
                    <button type="button" class="btn btn-no" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="GetCustomerDetails">

    </div>

    @* data-bs-toggle="modal" data-bs-target="#CustomerDetailsModal" *@

    @section Scripts {
        <script>
            let url = '/Customer/GetCustomerTable';
            let page = 0;
            let totalPages = 0;
            let opt_value = 0;

                function orderAjax(page = $("#customercurrentpage").html()) {
                    opt_value = $("#customerpagesize").val();
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {
                            "pageIndex": page, "pagesize": opt_value, "search": $('#customerSearch').val(), "status": $("#CustomerTimeFilter").val(),
                            "startdate": $("#customstartdate").val(), "enddate": $("#customenddate").val()
                        },
                        success: function (response) {
                            $('#CustomerTable').html(response);
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }


            $(document).on('click', '#customer_previous_page', function () {
                page = $("#customercurrentpage").html();
                if (page > 1) {
                    page--;
                    orderAjax(page);
                }
            });


            // Next Page Click Handler

            $(document).on('click', '#customer_next_page', function () {
                page = $("#customercurrentpage").html();
                totalPages = $("#customertotalpage").html();
                if (page < totalPages) {
                    page++;
                    console.log("currentpage -- " + page)
                    orderAjax(page);
                }
            });



            $(document).on("change", '#customerpagesize', function () {
                    orderAjax();
            });

            $(document).on("change", '#customerSearch', function () {
                let search = $(this).val();
                if (search != undefined && search != "") {
                    $("#searchlable").hide();
                } else {
                    $("#searchlable").show();
                }
                orderAjax();
            });


                $(document).on("change", "#CustomerTimeFilter", function () {
                    if ($(this).val() == -1) {
                        
                        $('#customDateModal').modal("show");

                                            } else {
                        orderAjax();
                        
                    }
                });

            $(document).on("click", "#customtimeSubmit", function () {
                orderAjax();

            });


            $(document).on("click", ".CustomerRow", function () {
                let customerid = $(this).data("id");
                let url = '/Customer/GetCustomerDetails'
                $.ajax({
                    url: url,
                    type: "GET",
                    data: { "CustomerId": customerid },
                    success: function (response) {
                        $('#GetCustomerDetails').html(response);
                        $("#CustomerDetailsModal").modal("show");
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                        console.log(request.responseText)
                    }
                });
            });


                $(document).on("click", ".ExportCustomer", function () {
                    console.log("---------------");
                    let search = $('#customerSearch').val();
                    let status = $("#CustomerTimeFilter").val();
                    let start = $("#customstartdate").val();
                    let end = $("#customenddate").val();
                                            var url = '/Customer/ExportExcel?search=' + `${search}` + '&status=' + `${status}` + '&start=' + `${start}` + '&end=' + `${end}`;
                    @* console.log(url); *@
                    @* toastr.success('hello'); *@
                    window.location.href = url;
                });

            $(document).ready(function () {
                const url = '/Customer/GetCustomerTable';
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        "pageIndex": 1, "pageSize": 3, "search": $("#ordersearch").val(), "status": $("#CustomerTimeFilter").val(),
                        "startdate": $("#orderstartdate").val(), "enddate": $("#orderenddate").val()
                    },
                    success: function (response) {
                        $('#CustomerTable').html(response);
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                        console.log(request.responseText)
                    }
                })

            });




        </script>
    }
