@{
    ViewData["Title"] = "Event";
    Layout = "_adminlayout";
}

<div class="container mt-5">

    <div class="row w-100">
        <div class="col-6">
            <h1>Add New Event</h1>
        </div>

        <div class="col-6 text-end">
            <button class="btn btn-outline-primary">Back</button>
        </div>

    </div>


    <div class="tile">
        <h5>Event Date and Time</h5>

        <div class="row w-100 mb-2">
            <div class="form-floating  col-sm-6">
                <input type="date" class="form-control" id="eventstartdate" />
            </div>
            <div class="form-floating  col-sm-6">
                <select class="form-select" id="eventtime" aria-label="Floating label" value="1">
                    <option selected value=1>All Time</option>
                    <option value=7>Last 7 days</option>
                    <option value=30>Last 30 Days</option>
                    <option value=0>Current Month</option>
                </select>
            </div>
        </div>

        <div class="row  w-100 mb-2">
            <div class="form-floating  col-md-4">
                <select class="form-select" id="eventtime" aria-label="Floating label" value="1">
                    <option selected value=1>All Time</option>
                    <option value=7>Last 7 days</option>
                    <option value=30>Last 30 Days</option>
                    <option value=0>Current Month</option>
                </select>
            </div>

            <div class="form-floating  col-md-4">
                <select class="form-select" id="eventtime" aria-label="Floating label" value="1">
                    <option selected value=1>All Time</option>
                    <option value=7>Last 7 days</option>
                    <option value=30>Last 30 Days</option>
                    <option value=0>Current Month</option>
                </select>
            </div>

            <div class="form-floating  col-md-4">
                <input class="form-control" type="number" id="floatingInput" placeholder="Capacity">
                <label for="floatingInput" class="ms-3">No of Person(s)*</label>
                @* <span class="text-danger" asp-validation-for="Persons"></span> *@
            </div>

        </div>

        <div class="row  w-100 mb-2">
            <div class="form-floating  col-md-4">
                <select class="form-select" id="eventtime" aria-label="Floating label" value="1">
                    <option selected value=1>All Time</option>
                    <option value=7>Last 7 days</option>
                    <option value=30>Last 30 Days</option>
                    <option value=0>Current Month</option>
                </select>
            </div>

            <div class="form-floating  col-md-4">
                <div class="form-check form-switch">

                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"> AC / Non
                    AC
                </div>
            </div>


        </div>

        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-primary">Check Availability</button>
            <button class="btn btn-outline-border-primary">Reset</button>
        </div>

        <hr>

        <div class="row w-100">
            <div class="form-floating margintop col-sm-6">
                <input type="text" class="form-control" id="waitingemail"
                    placeholder="Table Name">
                <label for="waitingemail" class="ms-3">Email*</label>
                @* <span class="text-danger" asp-validation-for="Email"></span> *@
            </div>

            <!-- Floor Selection -->
            <div class="form-floating margintop col-sm-6">
                <input type="text" class="form-control" id="floatingInputName" placeholder="Table Name">
                <label for="floatingInput" class="ms-3">Name*</label>
                @* <span class="text-danger" asp-validation-for="Name"></span> *@
            </div>

            <!-- Table Name -->
            <div class="form-floating margintop col-sm-6">
                <input type="text" class="form-control" id="floatingInputPhone"
                    placeholder="Table Name">
                <label for="floatingInput" class="ms-3">Mobile Number*</label>
                @* <span class="text-danger" asp-validation-for="Phone"></span> *@
            </div>

            <div class="form-floating margintop col-sm-6">
                <input type="text" class="form-control" id="floatingInputPhone"
                    placeholder="Table Name">
                <label for="floatingInput" class="ms-3">Special Instruction*</label>
                @* <span class="text-danger" asp-validation-for="Phone"></span> *@
            </div>

            <div class="form-floating margintop col-sm-6">
                <input type="text" class="form-control" id="floatingInputPhone"
                    placeholder="Table Name">
                <label for="floatingInput" class="ms-3">Biling Address*</label>
                @* <span class="text-danger" asp-validation-for="Phone"></span> *@
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-primary">Next</button>
            <button class="btn btn-outline-border-primary">Cancel</button>
        </div>
    </div>

</div>